<nav class="navbar navbar-expand-lg sticky-top bg-navbar">
  <a class="navbar-brand text-warning" routerLink="products">My Business</a>
  <button
    class="navbar-toggler bg-light"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon w-100 h-100"
      ><i class="fa-solid fa-bars"></i
    ></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a *ngIf="isLogin" class="nav-link" routerLink="home">Home</a>
      </li>
      <li class="nav-item">
        <a *ngIf="isLogin" class="nav-link" routerLink="products">Gallary</a>
      </li>
      <!-- start Dropdown list -->
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          routerLinkActive="active"
          *ngIf="isLogin"
        >
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <ul class="list-group">
            <li *ngFor="let category of categoris" class="list-group-action">
              <a
                class="dropdown-item"
                (click)="selectCategory(category)"
                [routerLink]="['/products', category]"
              >
                {{ category }}</a
              >
            </li>
          </ul>
        </div>
      </li>
      <!-- end Dropdown list  -->
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          routerLinkActive="active"
          *ngIf="isLogin"
        >
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <ul class="list-group">
            <li class="list-group-action">
              <a class="dropdown-item" routerLink="admin"> Main </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="add">Add products</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink="about">About</a>
      </li>
    </ul>

    <div class="form-inline">
      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
      </form>
      <div class="social-media nav-link">
        <a routerLink=""> <i class="fab mx-2 fa-facebook"></i></a>
        <a routerLink=""> <i class="fab mx-2 fa-youtube"></i></a>
        <a routerLink=""> <i class="fab mx-2 fa-twitter"></i></a>
        <a routerLink=""> <i class="fab mx-2 fa-instagram"></i></a>
      </div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a *ngIf="!isLogin" class="nav-link" routerLink="login">Login</a>
        </li>
        <li class="nav-item">
          <a *ngIf="!isLogin" class="nav-link" routerLink="register">Regiser</a>
        </li>
        <div>
          <li class="nav-item">
            <a *ngIf="isLogin" class="nav-link" routerLink="cart">
              Cart
              <i class="fa-solid fa-cart-shopping"></i>
            </a>
          </li>
        </div>
        <li class="nav-item">
          <a *ngIf="isLogin" (click)="isLogOut()" routerLink="" class="nav-link"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
