<div class="container">
  <div class="d-flex align-items-center justify-content-center mt-5">
    <table class="table table-striped text-dark bg-light">
      <thead class="text-center">
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col " class="w-25">Quantity</th>
          <th scope="col">Total</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>

      <tbody>
        <tr class="text-center" *ngFor="let item of myCart; let index = index">
          <td scope="row">
            <img
              style="width: 30px; height: 30px"
              [src]="item.item.image"
              alt="img"
            />
          </td>
          <td>{{ item.item.title | seeMore : 3 }}</td>
          <td>{{ item.item.price | currency : "L.E " }}</td>
          <td
            class="d-flex justify-content-center align-items-center text-center"
            scope="col"
          >
            <button class="m-0 px-2" (click)="minQuantity(index)">-</button>
            <input
              [value]="item.quantity"
              type="number"
              class="form-control w-25 mx-2"
              [(ngModel)]="item.quantity"
            />
            <button class="m-0 px-2" (click)="addQuantity(index)">+</button>
          </td>
          <td>{{ item.quantity * item.item.price | currency : "L.E " }}</td>
          <td>
            <button
              (click)="removeItemCart(item.item.id)"
              type="button"
              class="btn btn-danger"
            >
              delete
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot class="text-center">
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-center pt-3">
          Total price :
          <span class="text-danger font-weight-bolder px-2 py-1">
            {{ totalPrice | currency : "L.E " }}</span
          >
        </th>
        <th><button class="btn btn-success">Order Now</button></th>
      </tfoot>
    </table>
    <!-- Products Table end -->
  </div>
</div>
