<div class="row clearfix">
  <div class="col-sm-12 auth-form-section">
    <div class="form-section py-5 m-auto">
      <div class="auth-wrapper">
        <h2 class="welcome-msg text-center text-warning">Product Details</h2>
        <p class="auth-signup-text text-muted text-center">
          Enter details to create New product
        </p>
        <div class="body w-50 m-auto">
          <!-- here Error Message -->
          <form
            class="m-4"
            [formGroup]="addProductForm"
            (ngSubmit)="onSubmit()"
          >
            <div class="row">
              <div class="col-xl-12 mb-3">
                <div class="form-group">
                  <label for="productName">Product name</label>
                  <input
                    formControlName="productName"
                    class="form-control"
                    type="text"
                    id="productName"
                  />
                  <div hidden class="alert my-2 alert-danger">
                    <span> product name is requred </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col col-6">
                    <div class="form-group">
                      <div class="sorter navbar-collapse">
                        <div class="sort-by navbar-nav mr-auto">
                          <label class="pr-4" for="">Category :</label>
                          <select
                            formControlName="category"
                            class="form-select form-control"
                            aria-label="Default select example"
                          >
                            <option value="asc" selected>j</option>
                            <option value="desc">men</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col col-6">
                    <div class="form-group">
                      <label for="price">Price :</label>
                      <input
                        formControlName="price"
                        class="form-control"
                        type="text"
                        id="price"
                      />
                      <div hidden class="alert my-2 alert-danger">
                        <span> price name is requred </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="description">description</label>
                  <textarea
                    formControlName="description"
                    class="form-control"
                    type="text"
                    id="description"
                  ></textarea>
                  <div hidden class="alert my-2 alert-danger">
                    <span> description is requred </span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="image">Image</label>
                  <input
                    formControlName="image"
                    class="form-control"
                    type="file"
                    id="image"
                  />
                </div>
              </div>
            </div>
            <!--  -->
            <div class="mb-3">
              <button
                class="btn btn-primary"
                [disabled]="!addProductForm.valid"
              >
                Submit
              </button>
              <button type="button" class="btn btn-danger">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
