<div class="sidbar m-5">
  <button
    type="button"
    class="btn btn-success modal-dialog-centered"
    data-toggle="modal"
    data-target="#staticBackdrop"
    (click)="add()"
  >
    Add New Product
  </button>
  <!-- Modal -->
  <div>
    <app-edit-product
      *ngIf="onEdit"
      [idPrd]="idProduct"
      [prdToEdit]="prdToEdit"
    ></app-edit-product>
    <app-add *ngIf="onAdd"></app-add>
  </div>
</div>
<div class="container">
  <div>
    <p>{{ doneDelete | json }}</p>
  </div>
  <div>
    <!-- Start sort -->
    <div>
      <!--  -->
      <!--  -->
      <nav
        class="navbar navbar-expand-lg bg-navbar d-flex justify-content-between align-content-between"
      >
        <div
          class="collapse navbar-collapse d-flex justify-content-between"
          id="navbarSupportedContent"
        >
          <div class="sorter navbar-collapse">
            <div class="sort-by navbar-nav mr-auto">
              <label class="pr-4" for="">Sort by :</label>
              <select
                class="form-select form-control-sm"
                (change)="getSorter($event)"
              >
                <option value="asc" selected>Ascending</option>
                <option value="desc">Descending</option>
              </select>
            </div>
            <div>
              <div
                class="limiter navbar-nav mr-auto d-flex justify-content-end"
              >
                <label class="pr-4">Show :</label>
                <input
                  (change)="getRange($event)"
                  value=""
                  class="form-check-label w-25 mr-1"
                  type="number"
                />
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <!-- End sort -->

    <!-- Products Table start -->
    <div class="d-flex align-items-center justify-content-center">
      <table class="table table-striped text-dark bg-light">
        <thead class="text-center">
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr *ngFor="let product of products">
            <td scope="row">
              <img
                style="width: 30px; height: 30px"
                [src]="product.image"
                [alt]="product.title"
              />
            </td>
            <td>{{ product.title | seeMore : 3 }}</td>
            <td>{{ product.price | currency : "EGP  " }}</td>
            <td>
              <button
                type="button"
                class="btn btn-primary modal-dialog-centered"
                data-toggle="modal"
                data-target="#staticBackdrop"
                class="btn btn-primary"
                (click)="edit()"
                (click)="sendProduct(product)"
                [value]="product.id"
              >
                edit
              </button>
            </td>
            <td>
              <button
                (click)="itemDel($event)"
                [value]="product.id"
                type="button"
                class="btn btn-danger"
              >
                delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- Products Table end -->
    </div>
  </div>
</div>
